<!DOCTYPE html>
<html lang="en">
    <head th:replace="commons/header :: header" />
<body>
    <style>
        form {
            width: 20em;
            margin-left: 2em;
            margin-top: .8em;
        }
        #divCheck, #botonEnviar {
            margin-top: .5em;
        }
    </style>
    <form action="/proveedores/editProveedor" method="post">
        <div class="mb-6">
            <label for="codigo" class="form-label">Codigo</label>
            <input type="text" class="form-control" id="codigo" name="codigo" th:value="${proveedores.codigo}">
        </div>
        <div class="mb-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${proveedores.nombre}">
        </div>
        <div class="mb-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${proveedores.apellidos}">
        </div>
        <div> 
            <input type="submit" value="modificarProveedor" id="botonEnviar">
            <a href="listaProveedores.html"  class="btn btn-light" id="borrarCliente" >Cancelar</a>
        </div>
    </form>
</body>
</html>