<!DOCTYPE html>
<html lang="en">
<head th:replace="commons/header :: header">
<body>
  <h3 th:text="#{clientes.titulo}"></h3>
    <form th:action="@{/login/wellcome}" method="post">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Introduzca su usuario" name="usuario">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="password" placeholder="Introduzca su contraseña" name="password">
          </div>
          <input type="submit" value="Autenticar" id="botonEnviar">
    </form>
</body>
</html>