<!DOCTYPE html>
<html lang="en">
<head th:replace="commons/header :: header" />
<body>
    <div th:replace="commons/menu :: menu" />
    <style type="text/css">
        h1 {
            text-align: center;
            margin-bottom: .5em;
        }
    </style>
    <h1>clientes</h1>
    <a th:href="@{/clientes/nuevoCliente}" href="nuevoCliente.html"  class="btn btn-dark" id="nuevoCliente" ><img th:src="@{/img/nuevo.png}" class="card-img-top" alt="..." width="8px" height="20px"/></a> 
    <label id="textoNuevoCliente">Nuevo cliente</label>
    <table class="table table-dark table-striped">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>dni</th>
            <th>telefono</th>
            <th>direccion</th>
            <th>VIP</th>
            <th colspan="2"></th>
        </tr>
        <div th:each="cliente : ${clientes}" class="col-3">
            <tr>
                <td><p th:text="${cliente.codigo}"></p></td>
                <td><p th:text="${cliente.nombre}"></p></td>
                <td><p th:text="${cliente.apellidos}"></p></td>
                <td><p th:text="${cliente.email}"></p></td>
                <td><p th:text="${cliente.dni}"></p></td>
                <td><p th:text="${cliente.telefono}"></p></td>
                <td><p th:text="${cliente.direccion}"></p></td>
                <span th:if="${cliente.vip == false}"><td><p th:text="NO"></p></td></span>
                <span th:if="${cliente.vip == true}"><td><p th:text="SI"></p></td></span>
                <td>
                    <a th:href="@{/clientes/modificarCliente?codigo=}+${cliente.codigo}" href="modificarCliente.html"  class="btn btn-light" id="nuevoCliente" ><img th:src="@{/img/editar.png}" class="card-img-top" alt="..." width="8px" height="20px"/></a>
                    <a th:href="@{/clientes/borrarCliente?codigo=}+${cliente.codigo}" href="listaClientes.html"  class="btn btn-light" id="borrarCliente" ><img th:src="@{/img/borrar.png}" class="card-img-top" alt="..." width="8px" height="20px"/></a>
                </td>
            </tr>
        </div>
    </table>
</body>
</html>