<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="menu">
 <!-- Menu principal -->
 <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="hola.html">Hola</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" th:text="#{menu.home}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/productos/list}" href="productos.html" th:text="#{menu.productos}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/clientes/list}" href="listaClientes.html" th:text="#{menu.clientes}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/proveedores/listaProveedores}" href="listaProveedores.html" th:text="#{menu.proveedores}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/productos/list}" href="productos.html" th:text="#{menu.mapa}"></a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      -->
      </ul>

      <!--Idioma-->


  <ul class="navbar-nav">

  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&#127760;
     </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/login/wellcome?lang_config=es}" href="#" th:text="#{menu.idioma.espanol}"></a>
          <a class="dropdown-item" th:href="@{/login/wellcome?lang_config=en}" href="#" th:text="#{menu.idioma.ingles}"></a>
          <a class="dropdown-item" th:href="@{/login/wellcome?lang_config=fr}" href="#" th:text="#{menu.idioma.frances}"></a>
        </div>
      </li>
    </ul>
  

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div>
        <a th:text="${session.usuario.usuario}" href="signin" th:href="@{/login/signin}"></a>
      </div>
    </div>
  </div>
</nav>
</div>
</body>
</html>