<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header" />

<body>
  <style>
    img {
      width: 160px;
      height: 160px;
    }
    #nuevoProducto {
      margin-top: 3em;
      width: 100%;
    }
    #nuevoProducto:hover {
      background-color: green;
    }
  </style>

  <div th:replace="commons/menu :: menu" />
<!-- CARDS -->


<div class="container">
  <div class="row">
    <div th:each="producto : ${productos}" class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 th:text="${producto.nombre}" th:name="${producto.nombre}" class="card-title" value="">Card title</h5>
          <p th:text="${producto.descripcion}" class="card-text"></p>
          <p th:text="${producto.precio}" class="card-text"></p>
          <p th:text="${#dates.format(producto.fecha,'dd-MMM-yyyy')}" class="card-text"></p>
          <img th:src="'data:image/jpeg;base64,'+ ${producto.ImageView}" />
          <!--<a th:href="@{/productos/edit?codigo=}+${producto.codigo}" href="edit.html" class="btn btn-primary">Ver producto</a>-->
          <a th:href="@{/productos/modificarProducto?codigo=}+${producto.codigo}" href="modificarProducto.html"  class="btn btn-primary">Modificar producto</a>
          <a th:href="@{/productos/borrarProducto?codigo=}+${producto.codigo}" href="list.html"  class="btn btn-primary">Borrar producto</a>
        </div>
      </div>
    </div>
  </div>
</div>

<a th:href="@{/productos/nuevoProducto}" href="nuevoProducto.html"  class="btn btn-primary" id="nuevoProducto" >Nuevo producto</a> 
<div th:replace="commons/footer :: footer" class="container" />

</body>
</html>